<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>State of Birth</ion-label>
      <ion-select [(ngModel)]="birth" okText="Dude" cancelText="Bogus">
        <ion-select-option *ngFor="let state of states" [value]="state.stateCode">{{ state.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>State of mind</ion-label>
      <ion-select [(ngModel)]="mind" okText="Dude" cancelText="Bogus" interface="popover">
        <ion-select-option *ngFor="let state of states" [value]="state.stateCode">{{ state.name }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
