<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>State of Birth</ion-label>
      <ion-select [(ngModel)]="birth" okText="Dude" cancelText="Bogus">
        <ion-select-option *ngFor="let state of states" [value]="state.stateCode">{{ state.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>State of mind</ion-label>
      <ion-select [(ngModel)]="mind" okText="Dude" cancelText="Bogus" interface="popover">
        <ion-select-option *ngFor="let state of states" [value]="state.stateCode">{{ state.name }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-radio-group>
      <ion-list-header>
        <ion-label>
          Auto Manufacturers
        </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Cord</ion-label>
        <ion-radio value="cord"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Duesenberg</ion-label>
        <ion-radio value="duesenberg"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Hudson</ion-label>
        <ion-radio value="hudson"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Packard</ion-label>
        <ion-radio value="packard"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Studebaker</ion-label>
        <ion-radio value="studebaker"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
